@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap&family=Roboto+Slab:wght@100;400;700&display=swap");

body {
    background-color: #f8f7f2;
    margin: 0;
    padding: 0;
    /* font-family: 'Roboto'; */
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 1250px;
    padding-top: 52px;
}

.logo {
    cursor: pointer;
}

.nav_links {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    color: orange;
    font: normal normal bold 18px/24px Roboto;
}

.nav_links li,
.footer-list li {
    margin-right: 30px;
}

.nav_links li a {
    text-decoration: none;
    color: #a5a5a5;
}

.nav_links li:nth-child(1),
.footer-list li:nth-child(1),
.logged-links li:nth-child(1) {
    list-style-type: none;
}
.nav-buttons {
    font: normal normal 900 16px/21px Roboto;
}

.login-button {
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    padding: 12px 22px;
    text-transform: uppercase;
    color: #a5a5a5;
    font: normal normal 900 16px/21px Roboto;
}

.span {
    color: #f0972a;
    padding: 0px 18px;
}

.create-button {
    background-color: #96bb36;
    border-radius: 5px;
    border-style: none;
    box-shadow: 0px 3px 6px #00000029;
    color: white;
    padding: 12px 22px;
    text-transform: uppercase;
    font: normal normal 900 16px/21px Roboto;
}

.logged-links {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

.logged-links li {
    margin-right: 30px;
    text-transform: uppercase;
    font: normal normal 900 18px/24px Roboto;
}

.logged-links li a {
    text-decoration: none;
    border-bottom: 2px solid #a5a5a5;
}

.logged-links li:last-of-type {
    margin-right: 0;
}

#footer {
    background-color: #626262;
    color: white;
    height: 180px;
    text-align: center;
}

.footer-box {
    width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 71px;
}

#logo-babys {
    font: bold 25px Roboto;
}

#logo {
    font: 10px Roboto;
}

.footer-list {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    font: normal normal bold 15px/20px Roboto;
}

.footer-copyright {
    font: normal normal normal 14px/19px Roboto;
    display: flex;
    flex-direction: column;
}

.active-class {
    color: orange;
}

.header {
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 43px;
}

.header h2 {
    font: normal normal bold 36px/48px Roboto Slab;
    margin: 0;
    padding-right: 10px;
    color: #96bb36;
    text-transform: capitalize;
}

.header-border {
    height: 1px;
    background-color: #a5a5a5;
    margin-bottom: 10px;
    flex-grow: 2;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    #nav {
        flex-direction: column;
        align-items: center;
        width: 300px;
    }

    .footer-box {
        padding-top: 35px;
        flex-direction: column;
        align-items: center;
        width: 300px;
    }

    .logo {
        width: 150px;
    }
    .nav-buttons {
        display: flex;
        flex-direction: row;
        font: normal normal bold 10px/12px Roboto;
    }

    .header h2 {
        font: normal normal bold 18px/24px Roboto;
    }

    .span {
        padding-top: 10px;
    }

    .login-button {
        font: normal normal bold 10px/12px Roboto;
        height: 30px;
        padding: 0 15px;
    }

    .create-button {
        font: normal normal bold 10px/12px Roboto;
        height: 30px;
        padding: 0 15px;
    }

    .header-border {
        margin-bottom: 5px;
    }

    .card-main-box {
        width: 100%;
    }

    .card-container span,
    .footer-list,
    .footer-copyright {
        font: normal normal bold 10px Roboto Slab;
    }
    .nav_links {
        font: normal normal bold 10px Roboto Slab;
        margin-bottom: 25px;
    }

    #login,
    #categories,
    #create-account,
    #my-profile,
    #my-recepies {
        width: 300px;
    }

    .login-container {
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 160px;
    }

    .login-text {
        width: 300px;
        margin-bottom: 72px;
        margin-right: 0px;
    }

    .my-recepies-text {
        width: 300px;
    }

    .login-text h2 {
        font: normal normal bold 23px/30px Roboto Slab;
    }

    .my-recepies-text h2{

       font: normal normal bold 18px/24px Roboto;
    }
    
    .create-account-info h2 {
        margin-top: 40px;
        font: normal normal bold 23px/30px Roboto Slab;
    }

    .border {
        margin-top: 15px;
    }

    .add-button-icon {
        padding: 5px;
    }

    .login-text p,
    .create-account-info p {
        font: normal normal normal 10px/20px Roboto Slab;
        width: 300px;
    }

    .formData {
        width: 300px;
    }

    .form {
        flex-direction: column;
        width: 300px;
        margin-top: 102px;
    }

    .form-container label,
    .form label,
    .profile label {
        font: normal normal bold 14px Roboto Slab;
    }

    .form-container input,
    .form input,
    .profile input {
        height: 30px;
        font: normal normal bold 12px Roboto;
    }

    #login-button {
        height: 25px;
        width: 100px;
        font: normal normal bold 14px Roboto;
        align-items: center;
    }

    .container {
        flex-direction: column;
        position: relative;
    }

    .create-account-info {
        margin-right: 0px;
    }

    .create-account-btn {
        height: 25px;
        width: 150px;
        font: normal normal bold 14px Roboto;
        position: absolute;
        margin-top: 280px;
    }

    .profile-info {
        flex-direction: column;
    }

    .upload-picture {
        margin-bottom: 50px;
    }

    .upload-picture img {
        margin-left: 80px;
        height: 150px;
    }

    .avatar-button {
        margin-left: 65px;
        width: 150px;
    }

    .profile-container {
        flex-direction: column;
        position: relative;
    }

    .save-button {
        position: absolute;
        margin-top: 280px;
        height: 25px;
        width: 100px;
    }

    .avatar-button label {
        font: normal normal normal 12px Roboto;
    }

    .logged-links li {
        margin-right: 30px;
        text-transform: uppercase;
        font: normal normal 900 12px Roboto;
    }

    .recipes-table {
        width: 300px;
    }

    .recipes-table thead,
    .recipes-table tbody {
        width: 300px;
    }

    .recipes-table thead tr,
    .recipes-table tbody tr {
        font: normal normal bold 10px Roboto;
    }

    .recipes-table tbody tr td:first-of-type {
       padding: 10px 10px;
    }
    .recipes-table thead tr th:first-of-type {
        padding: 10px 3px 10px;
    }

    .recipe-category-green-box span {
        padding: 0 2px;
        font: normal normal bold 10px Roboto;
    }

    .recipes-table thead tr th:last-of-type {
        padding-right: 10px;
    }

    .recipes-table tbody tr td:last-of-type {
        padding: 0 12px 0 0;
    }
}
