#my-profile {
    padding: 20px 10%;
}

.profile-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-container {
    display: flex;
    justify-content: space-between;
}

.first {
    margin-right: 33px;
}

.profile {
    display: flex;
    flex-direction: column;
    color: #a5a5a5;
}
.profile label {
    margin-bottom: 10px;
    color: #f0972a;
    font: normal normal bold 16px/21px Roboto Slab;
}
.profile input {
    margin-bottom: 16px;
    width: 294px;
    height: 40px;
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    background: #f0efea;
    color: #a5a5a5;
}

.save-button {
    background: #96bb36 0% 0% no-repeat padding-box;
    border-radius: 5px;
    border-style: none;
    color: white;
    text-transform: uppercase;
    width: 124px;
    height: 40px;
    font: normal normal 900 16px/21px Roboto;
    margin-top: 42px;
}
