#create-account {
    padding: 63px 0 20px;
    margin: 0 auto;
    width: 1250px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 202px;
}

.create-account-info {
    margin-right: 102px;
}

.create-account-info h2 {
    display: flex;
    flex-direction: column;
    color: #f0972a;
    margin-bottom: 29px;
    font: normal normal bold 46px/60px Roboto Slab;
    margin-top: 93px;
}

.create-account-info p {
    font: normal normal normal 20px/26px Roboto Slab;
    color: #a5a5a5;
    width: 412px;
}

.form {
    display: flex;
    justify-content: space-between;
    margin-top: 145px;
    width: calc(100% - 514px);
}

.form label {
    color: #f0972a;
    font: normal normal bold 16px/21px Roboto Slab;
}

.form input {
    width: 294px;
    height: 40px;
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    background: #f0efea;
    margin-right: 33px;
    margin-bottom: 23px;
    margin-top: 10px;
    font: normal normal bold 14px/19px Roboto;
    color: #a5a5a5;
}

.form button {
    width: 202px;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    background: #96bb36 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    color: #ffffff;
    font: normal normal 900 16px/21px Roboto;
    text-transform: uppercase;
    margin-top: 42px;
}
