.modal-styles {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 10px 20px #00000012;
border: 1px solid #D8D8D8;
border-radius: 5px;
padding: 0px 36px 36px 32px;
  z-index: 1000;
  width: 600px;
}

.overlay-styles {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #F8F7F2 0% 0% no-repeat padding-box;
  z-index: 1000;
  filter: blur(50px);
}

.recipe-info-box{
    width: 50%;
    margin-right:43px;
}

.title {
   display: flex;
   justify-content: space-between;
}

.title h2{
  font: normal normal bold 38px/50px Roboto Slab;
 color: #F0972A;
 margin-bottom: 22px;
}

.best-for {
  margin-top:22px;
  display: flex;
  justify-content: space-between;
  font: normal normal bold 18px/24px Roboto Slab;
  color: #96BB36;
}

.best-for span {
  background: #96BB36 0% 0% no-repeat padding-box;
border-radius: 15px;
color: white;
font: normal normal bold 14px/19px Roboto Slab;
letter-spacing: 0px;
padding: 3px 11px;
}

#description {
  margin-top:17px;
  font: normal normal normal 16px/21px Roboto;
color: #A5A5A5;
margin-bottom: 25px;
}

.recipe-info-container{
  display: flex;
  flex-direction: row;
}

.recipe-details-box span {
  font: normal normal bold 18px/24px Roboto Slab;
  color: #96BB36;
}

.recipe-details-box p {
  font: normal normal normal 16px/21px Roboto;
color: #A5A5A5;
}
.recipe-info-box-img {
  object-fit: cover;
  width: 100%;
}