#home-page,
#breakfast,
#lunch,
#brunch,
#dinner {
  padding: 63px 10% 20px;
}

.home-page-text {
display: flex;
align-items: flex-end;
width: 100%;
margin-bottom: 43px;
}
.home-page-text h2 {
  font: normal normal bold 36px/48px Roboto Slab;
  margin: 0;
    padding-right: 10px;
}
.home-page-border {
  height: 1px;
  background-color: #a5a5a5;
  margin-bottom: 10px;
  flex-grow: 2
}
.card {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px #00000012;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  width: 373px;
  height: 428px;
}

.image-container {
  position: relative;
}
.image-container img {
  width: 373px;
  height: 234px;
  border-radius: 5px 5px 0px 0px;
}

.category {
  position: absolute;
  top: 8px;
  left: 16px;
  font: normal normal bold 14px/19px Roboto Slab;
  color: #ffffff;
  background: #96bb36 0% 0% no-repeat padding-box;
  border-radius: 15px;
  width: 85px;
  height: 26px;
  padding-top: 5px;
  text-align: center;
}

.card-info {
  padding-left: 28px;
  padding-right: 28px;
  margin-top: 16px;
}

.card-info h2 {
  font: normal normal bold 20px/26px Roboto Slab;
  color: #f0972a;
}

.card-info p {
  margin-top: 9px;
  width: 318px;
  height: 79px;
  font: normal normal normal 14px/19px Roboto;
  color: #a5a5a5;
}

.card-container {
  display: flex;
  flex-direction: row;
}

.card-container img {
  width: 16px;
  height: 16px;
  padding-right: 4px;
}

.card-container span {
  font: normal normal bold 12px/16px Roboto Slab;
  color: #626262;
  padding-right: 16px;
}

#icon-arrow {
  margin-left: 78px;
  background: #96bb36 0% 0% no-repeat padding-box;
  border-radius: 5px;
}

.new-recipes {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}
