#my-profile {
    padding: 63px 10% 20px;
}

.my-profile-text {
    display: flex;
    align-items: flex-end;
    width: 100%;
}

.my-profile-text h2 {
    font: normal normal bold 36px/48px Roboto Slab;
    color: #96BB36;
    padding-right: 10px;
    margin: 0;
}
#border {
    height: 1px;
    background-color: #a5a5a5;
    margin-bottom: 10px;
    flex-grow: 2
}

.upload-picture {
    margin-right: 97px;
}

.upload-picture img {
    box-shadow: 0px 3px 6px #00000029;
    width: 123px;
height: 123px;
margin-left: 20px;
}

.avatar-button label {
    font: normal normal normal 14px/19px Roboto;
    color: #a5a5a5;
    text-transform: uppercase;
}
.avatar-button {
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    width: 174px;
    height: 32px;
    text-align: center;
    padding-top: 10px;
    margin-top: 35px;
}

.profile-info {
    display: flex;
    justify-content: flex-start;
    margin-top: 93px;
    margin-bottom: 228px;
}

.profile-container {
    display: flex;
    justify-content: space-between;
}

.profile-container-data {
    margin-right: 33px;
}

.profile {
    display: flex;
    flex-direction: column;
    color: #a5a5a5;
}
.profile label {
    margin-bottom: 10px;
    color: #f0972a;
    font: normal normal bold 16px/21px Roboto Slab;
}
.profile input {
    margin-bottom: 16px;
    width: 294px;
    height: 40px;
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    background: #f0efea;
    color: #a5a5a5;
    font: normal normal bold 14px/19px Roboto;
}

.save-button {
    background: #96bb36 0% 0% no-repeat padding-box;
    border-radius: 5px;
    border-style: none;
    color: white;
    text-transform: uppercase;
    width: 124px;
    height: 40px;
    font: normal normal 900 16px/21px Roboto;
    margin-top: 42px;
}
