@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400;700&display=swap');

#add-recipe,
#update-recipe {
    padding: 63px 0 0;
    margin: 0 auto;
    width: 1250px;
}

.my-recepies-text-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.my-recepies-text-box h2 {
    font: normal normal bold 36px/48px Roboto Slab;
    color: #96bb36;
    padding-right: 10px;
}

.border {
    height: 1px;
    background-color: #a5a5a5;
    flex-grow: 2;
    margin-top: 30px;
}

.recipe-picture-label {
    font: normal normal bold 16px/21px Roboto Slab;
    color: #f0972a;
}

.back-button-icon {
    background: #f0972a 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 50%;
    margin-left: 10px;
    padding: 11px;
}

.recipe-picture img {
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    width: 234px;
    height: 147px;
    margin-bottom: 17px;
    margin-top: 10px;
}

.upload-recipe-button {
    border: 1px solid #a5a5a5;
    width: 234px;
    height: 32px;
    text-align: center;
    padding-top: 8px;
}

.upload-recipe-button label {
    font: normal normal normal 14px/19px Roboto;
    color: #a5a5a5;
    text-transform: uppercase;
}

.recipe-form-box {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    margin-bottom: 174px;
}

.recipe-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 500px;
    margin-left: 36px;
    margin-right: 36px;
}

.recipe-data label {
    color: #f0972a;
    font: normal normal bold 16px/21px Roboto Slab;
    margin-bottom: 10px;
}

.recipe-data {
    display: flex;
    flex-direction: column;
}

.data {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 23px;
}

.recipe-title-input {
    max-height: 40px;
    margin-bottom: 23px;
}

.inputs {
    font: normal normal bold 14px/19px Roboto;
    background: #f0efea 0% 0% no-repeat padding-box;
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    color: #a5a5a5;
    padding: 10px 12px;
}

.select-category {
    height: 40px;
    width: 146px;
}

.preparation-and-number {
    max-height: 40px;
    width: 120px;
}

.description {
    width: 476px;
    margin-bottom: 40px;
    overflow: hidden;
    resize: none;
    background: #f0efea 0% 0% no-repeat padding-box;
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    padding: 10px 12px;
    font: normal normal normal 14px/19px Roboto;
    color: #a5a5a5;
}

.save-btn {
    background: #96bb36 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-style: none;
    border-radius: 5px;
    width: 124px;
    height: 40px;
    font: normal normal 900 16px/21px Roboto;
    color: #ffffff;
    text-transform: uppercase;
}

.recipe {
    width: 234px;
    height: 284px;
}

.recipe-details {
    overflow: hidden;
    resize: none;
    width: 377px;
    background: #f0efea 0% 0% no-repeat padding-box;
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    padding: 10px 12px;
    max-height: 264px;
    font: normal normal normal 14px/19px Roboto;
    color: #a5a5a5;
}
