.modal-styles {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px #00000012;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  padding: 0px 36px 36px 32px;
  z-index: 1000;
  height: 563px;
  width: 1027px;
}

.others-styles {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f8f7f2 0% 0% no-repeat padding-box;
  z-index: 1000;
  filter: blur(50px);
}

.recipe-info-box {
  width: 412px;
  margin-right: 43px;
}

.title {
  display: flex;
  justify-content: space-between;
}

.title h2 {
  font: normal normal bold 38px/50px Roboto Slab;
  color: #f0972a;
  margin-bottom: 22px;
  margin-top:22px;
}

.best-for {
  margin-top: 22px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  font: normal normal bold 18px/24px Roboto Slab;
  color: #96bb36;
}

.best-for span {
  background: #96bb36 0% 0% no-repeat padding-box;
  border-radius: 15px;
  color: white;
  font: normal normal bold 14px/19px Roboto Slab;
  letter-spacing: 0px;
  padding: 3px 11px;
}

#description {
  margin-top: 17px;
  font: normal normal normal 16px/21px Roboto;
  color: #a5a5a5;
  height: 126px;
  margin-bottom: 25px;
}

.recipe-info-container {
  display: flex;
  flex-direction: row;
}

.recipe-details-box span {
  font: normal normal bold 18px/24px Roboto Slab;
  color: #96bb36;
}

.recipe-details-box p {
  font: normal normal normal 16px/21px Roboto;
  color: #a5a5a5;
}

.recipe-info-box-img {
  object-fit: cover;
  width: 412px;
  height: 243px;
}
